[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
accelerate = "*"
bitsandbytes = "*"
torch = "*"
transformers = "*"
argparse = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[dev-packages]

[requires]
python_version = "3.11"
